<p>Mustaches can call function :{{getName() }}</p>

<!-- [xyz] will modify native Javascript property -->
<nav [textContent] ="'Waouw'">Hello</nav>

<nav [textContent] ="getContent()"></nav>

<!-- * means a modification of the DOM structure -->
<ul>Users:
  <li *ngFor="let u of users">{{u}}</li>

</ul>

<div *ngIf="users.length > 3">
  There is a lot of users.
</div>

<!-- Condition() is a function all-->
<div *ngIf="condition()">
  There is a lot of users.
</div>

<div class="impressive"> This is a impressive DIV</div>

<div [className]="getImpressiveStyle()"> This is a impressive DIV</div>

<div [ngClass]="{banana:users.length > 3}"> This is a conditionnal class</div>

<!-- We can declare a variable on a component -->
<div #friend>Hello My Friend</div>

<div> The content was: {{friend.textContent}} </div>

<input type="text" value="I am a data"  #myInput>

<div> Value is : {{myInput.value}}</div>

<!-- () are Events ; Events will recompile all the pseudo-HTML -->
<button (click)="clearUsers()">Click Me !</button>
